<h1>{{$parent.settings.pageTitle}}</h1>
<p ng-show="$parent.settings.success" class="alert alert-success">{{$parent.settings.success}}</p>

<div class="required field-block">
	<input type="text" placeholder="Nombres del Trabajador" ng-model="worker.nomtra" class="form-control">
	<div class="required-icon">
		<div class="text">*</div>
	</div>
</div>

<div class="required field-block">
	<input type="text" placeholder="Apellido Paterno del Trabajador" ng-model="worker.apepattra" class="form-control">
	<div class="required-icon">
		<div class="text">*</div>
	</div>
</div>

<div class="required field-block">
	<input type="text" placeholder="Apellido Materno del Trabajador" ng-model="worker.apemattra" class="form-control">
	<div class="required-icon">
		<div class="text">*</div>
	</div>
</div>

<div class="required field-block">
	<input type="text" placeholder="Direccion del Trabajador" ng-model="worker.dirtra" class="form-control">
	<div class="required-icon">
		<div class="text">*</div>
	</div>
</div>

<div class="required field-block">
	<input type="text" placeholder="Telefono del Trabajador" ng-model="worker.teltra" class="form-control">
	<div class="required-icon">
		<div class="text">*</div>
	</div>
</div>

<div class="required field-block">
	<input type="text" placeholder="Email del Trabajador" ng-model="worker.emailtra" class="form-control">
	<div class="required-icon">
		<div class="text">*</div>
	</div>
</div>

<button class="btn btn-success" ng-click="submit($parent.worker)">{{$parent.settings.action}}</button>
